* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    padding-top: 3vw;
    gap: 2vw;
}

.chat-window {
    border: .2vw solid black;
    height: 80%;
    width: 50%;
    padding: 1vw 1vw;
    display: flex;
    flex-direction: column;
    gap:.5vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.input-form {
    display: flex;
    align-items: center;
    width: 50%;
    height: 3vw;
}

.text-input {
    width: 80%;
    height: 100%;
    outline: none;
    font-size: 1.6vw;
    padding-left: .5vw;
}

.submit-button {
    width: 20%;
    height: 100%;
}
